 <!-- Subscribe Widget -->
          <div class="card my-4">
            <h5 class="card-header">Get Latest Articles in Your Inbox</h5>
            <div class="card-body">
              <form class="form">
                <div class="form-group">
                <input type="text" class="form-control mb-resp" placeholder="Enter Name">
                </div>
                <div class="form-group">
                <input type="email" class="form-control mb-resp" placeholder="Enter Email">
                </div>
                <div class="form-group">
                <button class="btn btn-primary btn-block">
                  <i class="fas fa-envelop-o"></i>Subscribe
                </button>
                </div>
              
              </form>
            </div>
          </div>