--- 
layout: default 
---
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            {{ content }} {% for post in site.posts %}
            <div class="card  mb-4">
                    <div class="card-body">
                    <h3 class="card-title">{{ post.title}}</h3>
                    <p class="card-text">{{post.excerpt}}</p>
                    <a href="{{ post.url }}" class="btn btn-dark text-warning">Read More &rarr;</a>
                    <blockquote class="blockquote-footer my-2">
                        Posted on {{ post.date | date: "%b %-d, %Y" }}
                        <!-- <a href="#">Start Bootstrap</a> -->
                    </blockquote>
                </div>
                
            </div>
            {% endfor %}
        </div>
    </div>
</div>