--- 
layout: default
---
<section id="post-page">
<div class="container">
    <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-8 mx-auto">
            <!-- Title -->
      <h3 class="mt-5">{{page.title}}</h3>
      <!-- Author -->
      <!-- <p class="lead">
        by
        <a href="#">{{page.author}}</a>
      </p> -->
      <hr>
      <!-- Date/Time -->
      <p> Updated on {{ page.date | date: "%b %-d, %Y" }}</p>
      <!-- container for prismjs language -->
      <div class={{page.lang}}>
          {{content}}

      </div>
             

             {% include pagination.html %}
        </div>
    </div>
</div>
</section>